@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,600&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
  user-select: none;
  background-color: black !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0 !important;
}

.input_video, .output_canvas {
 top: 0;
 left: 0;
 position: fixed;
 width: 100%;
 height: 100vh;
 z-index: -1;
 /* transform: scaleX(-1) */
}

.pointer {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0);
  border: 1.5px solid rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  opacity: 1;
  transition: all 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

/* .pointer::before {
  content: "";
  background-color: white;
  border-radius: 50%;
  height: 5px;
  width: 5px;
} */

.timer {
  color: white;
  font-size: 1.5rem;
}

.input_video {
  opacity: 0;
  display: none;
  /* filter: brightness(20%); */
  /* min-width: 100%; */
  /* min-height: 100%; */
  /* object-fit: fill; */
}

.output_canvas {
  z-index: -1;
  filter: brightness(20%);
}


/** NOTIF */
.notif {
  position: fixed;
  padding: 1rem 2rem;
  background-color: rgb(31, 120, 209);
  top: 25px;
  right: 25px;
  color: white;
  display: none;
  max-width: 350px;
  transition: all 750ms;
}

.notif-message {
  margin-top: 5px;
  line-height: 1.2rem;
}

/*Ripple on click*/
.ripple {
  width: 10px;
  height: 10px;
  opacity: 0;
  transform: scale(0);
  background: rgb(226, 226, 226);
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
  mix-blend-mode: exclusion;
}

.animate {
  animation: ripple-mo 1s cubic-bezier(0, 0, 0.2, 1);
}

/* NAVIGATION */
nav {
  padding: 1.8rem 0rem 0rem 0rem;
  position: relative;
}

nav a {
  color: rgb(212, 212, 212);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

nav a:nth-child(1){
  padding-right: 1.5rem;
}

nav a:not(:first-child) {
  padding: 0rem 1.5rem;
  
}


nav a:visited, nav a:focus-visible {
  border: 0 none;
  outline: none;
}

nav a:hover {
  color: rgb(38, 124, 236);
}

/* ACTIVE STATE */
.router-link-active {
  color: white;
}

@keyframes ripple-mo {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(15);
    opacity: 0;
  }
}

/* CARD IMG */
.card {
  height: 100%;
  border-radius: 0 !important;
  transition: all 450ms;
  border: 0px !important
}

.border-hover {
  border: 2px solid #6FDBFB !important;
  transform: scale(1.03);
}

.card img {
  filter: brightness(30%);
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
}

.card-small {
  position: relative;
  height: 100%;
  transition: all 250ms;
}
/* 
.card .card-small img {
  filter: brightness(35%);
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
} */

.card .card-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
}

.card-border-telephone {
  background-color: #dd7f14
}

.card-border-department {
  background-color: #10973d
}

.card-border-university {
  background-color: #F0BF56
}

.card-border-feedback {
  background-color: #EA2A41
}

.card-border-entertainment {
  background-color: #6FDBFB
}

.card-border-announcement {
  background-color: #eb8c11
}

.card .card-content {
  position: absolute;
  padding: 2rem 2rem;
  line-height: 1.15rem;
  color: white;
  font-weight: 300;
}

.card .card-small .card-content {
  position: absolute;
  padding: 2rem 2rem;
  bottom: 0;
  left: 0;
  line-height: 1.15rem;
  color: white;
  font-weight: 300;
}

.card .card-content h5 {
  font-size: 1.5rem;
  text-transform: uppercase;
}


/* LOADING ELEMENT */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: all 450ms;
}

.loader .dot {
  width: 16px;
  height: 16px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  animation: dot 2.8s infinite;
}

.loader .dots {
  transform: translateX(0);
  animation: dots 2.8s infinite;
  margin-top: -1rem;
}
.loader .dots span {
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background: rgb(255, 255, 255);
  border-radius: 50%
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-pagination-bullet {
  background: #e7e7e7 !important;
}
      
@keyframes dot {
  0% {
    transform: translateX(-40px);
  }
  50% {
    transform: translateX(20px)
  }
  100% {
    transform: translateX(-40px);
  }
}

@keyframes dots {
  50% {
    transform: translateX(-35px)
  }
}

/* BLOCKQUOTE */
blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  color: rgba(255, 255, 255, 0.774);
  padding: 30px 50px 65px 50px;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0 -50px;
  line-height: 1.4em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.055);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: .5rem;
  width: 100%;
}

blockquote:before,
blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 60px;
  opacity: 1;
  font-style: normal;
}

blockquote:before {
  top: 4rem;
  left: 15rem;
}

blockquote:after {
  content: "\201D";
  right: 12rem;
  bottom: 35px;
}

/** SCROLLBAR */
::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 3px rgb(219, 219, 219);  */
  border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
  background: #2087eed0; 
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b79d8d0
}

/** SCROLL INDICATOR */
.scroll {
	width: 60px;
	height: 60px;
	position: fixed;
  bottom: 30px;
  left: 50%;
  color: white;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
}

.scroll::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 18px;
  width: 18px;
  height: 18px;
  border-left: 2px solid rgb(252, 252, 252);
  border-bottom: 2px solid rgb(245, 245, 245);
  transform: rotate(-45deg);
}

@keyframes down {
	0% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(25px);
	}
	60% {
		transform: translateY(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(25px);
	}
	60% {
		transform: translateY(0);
	}
}

/* CARD ANNOUNCEMENT */
.card-announcement {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(22, 22, 22, 0.856);
  border: 1px solid rgba(255, 255, 255, 0.363);
  background-clip: border-box;
  padding: 1.5rem 1.5rem;
  /* border-radius: 5px; */
}

/* UTILITY */
.text-sub {
  color: rgb(211, 211, 211) !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}

/* ACCORDION */
.accordion {
  background-color: rgba(53, 53, 53, 0.925); 
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(87, 87, 87, 0.342) !important;
  cursor: pointer;
  padding: 20px 50px 20px 50px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  transition: 0.5s;
  position: relative;
}

.accordion:after {
  content: '\25BC'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: rgb(255, 255, 255);
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.active:after {
  content: "\25B2"; /* Unicode character for "up" arrow */
}

.active, .accordion:hover {
  background-color: rgb(53, 53, 53); 
  color: white;
}

.panel {
  padding: 20px 50px 20px 50px;
  color: white;
  display: none;
  background-color: rgba(36, 36, 36, 0.781);
  overflow: hidden;
  max-height: 0;
  overflow: hidden;
}

/** INPUT SUGGESTION */
.form-suggestion {
  width: 100%;
  height: 100px;
  padding: 10px 30px;
  font-size: 40px;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  outline: none;
  max-width: 60%;
  border-bottom: 1px solid white;
  text-align: center;
}

.input-suggestion {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.863)
}

/** VIRTUAL KEYBOARD */
.hg-theme-default .hg-button {
  height: 55px !important;
  background: rgba(0,0,0,.5) !important;
  border-bottom: 0px !important;
  color: #fff;
}

.hg-theme-default .hg-button:hover {
  background: rgba(0, 0, 0, 0.753) !important;
  color: #fff;
}


