<template>
 <div>
  <div class="container">
   <div class="row">
    <h3 class="text-center text-white mt-3">ANNOUNCEMENTS</h3>
    <p class="text-center mb-3 text-white">Get updated with the latest happenings on the university.</p>
   </div>
  </div>
 </div>
</template>
<script>
export default {
 
}
</script>